In [1]:
import pandas as pd

In [2]:
# import du dataset
df = pd.read_csv("Combined Data.csv")

In [3]:
df.sample(10)

,Unnamed: 0,statement,status
34754,34754,"Chest Pain Hi, I'm hoping you lovely people ca...",Anxiety
2685,2685,The intentional humorous element in teacher re...,Normal
40371,40371,hello thank you for reading my post and any ad...,Depression
25261,25261,Its almost laughable how much I just despise m...,Depression
12504,12504,But I hate not being anyone's favorite. I am s...,Suicidal
37570,37570,i want to kill her.,Normal
26532,26532,I have lived with depression since 2012 or 201...,Depression
14175,14175,Going on some day trips/tourist things in Wash...,Depression
44869,44869,jonathanchong i could do with a long week,Normal
40260,40260,i feel that i m a mess with no salvation or me...,Depression

## Nettoyage des données

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53043 entries, 0 to 53042
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53043 non-null  int64
 1   statement   52681 non-null  object
 2   status      53043 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.2+ MB

In [5]:
# Décompte des lignes avec des valeurs nulles
df.isna().sum()

Unnamed: 0      0
statement     362
status          0
dtype: int64

In [6]:
# Suppression des lignes avec des valeurs nulles
df = df.dropna()

In [7]:
# Vérification
df.isna().sum()

Unnamed: 0    0
statement     0
status        0
dtype: int64

In [8]:
# Détection des doublons
df[df.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, statement, status]
Index: []

In [9]:
# suppression de la colonne Unnamed: 0
df.drop(columns=['Unnamed: 0'], axis=1)

                                               statement   status
0                                             oh my gosh  Anxiety
1      trouble sleeping, confused mind, restless hear...  Anxiety
2      All wrong, back off dear, forward doubt. Stay ...  Anxiety
3      I've shifted my focus to something else but I'...  Anxiety
4      I'm restless and restless, it's been a month n...  Anxiety
...                                                  ...      ...
53038  Nobody takes me seriously I’ve (24M) dealt wit...  Anxiety
53039  selfishness  "I don't feel very good, it's lik...  Anxiety
53040  Is there any way to sleep better? I can't slee...  Anxiety
53041  Public speaking tips? Hi, all. I have to give ...  Anxiety
53042  I have really bad door anxiety! It's not about...  Anxiety

[52681 rows x 2 columns]

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 52681 entries, 0 to 53042
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  52681 non-null  int64
 1   statement   52681 non-null  object
 2   status      52681 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.6+ MB

In [10]:
# Conversion du dataset nettoyé vers un csv
df.to_csv("dataset_psycho_clean.csv", index=False)